@import "tailwindcss";

@theme {
  --font-figtree: "Figtree", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  --animate-scroll: "scroll 15s linear infinite";
  --animate-scrollLarge: "scrollLarge 15s linear infinite";
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    /* display: inline-flex; */
    animation: marquee 20s linear infinite;
  }
}
